p {
	color: #000000;
	font-family: Arial, Helvetica,sans-serif;
	color: #000000;
	font-family: 'Muli', Helvetica, sans-serif;
	text-align:justify;

}

h2 {
	font-family: 'Muli', Helvetica, sans-serif;
	margin-left: 50px;
	margin-top: 5px;
	color: black;
}

.container{
	background-color: #82806F;
height: 50px;
	text-align: center;
	padding-left: 20px;
	color: #ffffff;
}

#email{
	color: white;
	font-family: 'Muli', Helvetica, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	background-color: #82806F;
}

.container img{
	margin-top: 13px;
}

h3 {
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	font-weight: bolder;
	text-shadow: -.5px .5px 0 #000;
	color: #ffffff;
	width:150px ;
	height:30px ;
	background-color:#E8AD0C;
	margin: 15px auto;
}


h1{
font-family: 'Oswald', sans-serif;
	background-color: #ffffff;
	color: Black;
 font-size:2.6em ;
 margin-left: 5%;
 text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;

}
body{
	background-color:white;
	margin: 0;
}

#aboutus{
	background-color: #f4f4f4;
	margin-bottom: 30px;
	margin-top: 30px;
	height: 25%;
}

#aboutus h3{
	font-family: 'Muli', Helvetica, sans-serif;
	background-color: #f4f4f4;
	color: black;
	text-align: left;
	margin-left: 15%;
	padding-top: 2.5%;
	text-shadow: none;
	font-size: 1.5em;
}
#aboutus p{
	font-style: normal;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 2.5%;
}
 .cards-1{
background-color: #f4f4f4;
	background-repeat: no-repeat;
	background-size: cover;
	grid-area:a;

}
.cards-1 h2{
	width: 90%;
	margin-top: 5px;
}
.cards img{
	margin-left: 5%;
}
.cards-2 {
background-color: #f4f4f4;
}
.cards-2 h2{
	margin-top: 5px;
}

.cards-3 {
background-color: #f4f4f4;
}
.cards-3 h2{
	margin-top: 5px;
}

.cards-4 {
background-color: #f4f4f4;
}
.cards-4 h2{
	margin-top: 5px;
}


.cards-5 {
background-color: #f4f4f4;
}
.cards-5 h2{
	margin-top: 5px;
}

a.black:link, a.black:visted{
    color: #000000;
    text-decoration: none;
    font-family: 'Muli', Helvetica, sans-serif;
}


#nav {
    padding: 0;
	list-style-type: none;

}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	text-shadow: -.5px .5px 0 #000;

}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #E8AD0C;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 7px;
    font-family: 'Muli', Helvetica, sans-serif;
		font-size: 1.2em;}



#nav a:hover{
    background-color: #b88909;
}


#footer {
	background-color: #82806F;
	height: 60px;
	margin:0;
}
#footer p{
	font-size: 0.8em;
	font-style: italic;
	padding-top: 15px;
	color: white;
	font-family: 'Muli', Helvetica, sans-serif;
}
image{
	border:none;
}

h4{
	font-size: 0.8em;
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	color: #ffffff;
}


.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

#About h2{
color:black;
font-size: 1.1em;
margin-left: 30px;

}

.brstext p{
  color:black;
  font-family: 'Muli', Helvetica, sans-serif;
  font-size: 0.8em;
	text-align: left;
}
.brstext{
	margin-left: 30px;
	margin-right: 30px;
}
#brsdatabase {
	color: #ffffff;
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	font-style: italic;
}

#brscontainer {

  background-size: 300px 300px ;
  background-repeat: no-repeat;
  background-size: cover;
}
#brscontainer .cards{
	width:92%;
	margin: 0 auto;
	height: 85%;
}
#brscontainer h2{
	margin: 5px;
}

#brsdatabase a{
	color:black;
}

ul {
	display: flex;
	flex-direction: column;
}

li{
	flex: 1 1 auto;
}


#window{
	display: none;
}

.searchtype{
	color: black;
}

@media (min-width: 600px) {
	.flex-container {
		flex-direction: row;
		justify-content: space-between;
	}
  ul {
		flex-direction: row;
	justify-content: space-between;
}
	}
@media (min-width: 800px) {

div{

}
	.item-1 {
		margin-right: auto;
	}
	.item-2 {
		margin-right: auto;
	}
	.item-3 {
		margin-right: auto;
	}
	.item-4 {
		margin-right: auto;
	}
	.item-5 {
		margin-right: auto;
	}



.chatter{
	color: black;
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
}

.table{
	color:#E8AD0C;
	text-align: center;
}

.info{
	color: black;
	text-align: left;
	text-decoration: none;
}



table{
	display: grid;
	padding-top: 20px;
	width: 100%;
	padding: 20px;
}

.thead {
	background-color: #E8AD0C;
	text-align: center;
}

th,td {
	border: 1px solid black;
	width: 10%;
}



.cards{

    border-radius: 6px;
}




.cards-1{
	grid-area:c;
}

.cards-2{
	grid-area:b;
}
.cards-3{
	grid-area:d;
}
.cards-4{
	grid-area:e;
}
.cards-5{
	grid-area:f;
}

#image{
	grid-area: g;
	padding-left: 20px;
}

#contacttext{
	grid-area: h;
	padding-right:20px;
	padding-top: 175px;
	text-align: center;
}

.email{
	font-family:'Muli', Helvetica, sans-serif;
}

#gridbox{
width: 100%;
	display: grid;
	grid-column-gap:10px;
	grid-row-gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:

			"c b "
			"d e "
			"f . ";
}
}

@media screen and (min-width: 1000px) {
	article {
		display: grid;
		grid-gap: 20px;
		grid-template-areas:
		"g h "
	}
