p {
	color: #ffffff;
	font-family: Arial, Helvetica,sans-serif;
	color: #ffffff;
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	font-style: italic;
}

h2 {
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	color: #ffffff;
	text-shadow: -.5px .5px 0 #000,
				  1px 1px 0 #000,
				 .5px -.5px 0 #000;
				-1px -1px 0 #000;
}

.container{
	background-color: #4C4B41;

	text-align: center;
	color: #ffffff;
}


h3 {
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	font-weight: bolder;
	text-shadow: -.5px .5px 0 #000,
				  1px 1px 0 #000,
				 .5px -.5px 0 #000;
				-1px -1px 0 #000;
	color: #ffffff;
	width:150px ;
	height:30px ;
	background-color:#E8AD0C;
	margin: 15px auto;
}


h1{
	font-family: 'Muli', Helvetica, sans-serif;
	background-color: #4C4B41;
 font-size:1.5rem ;
 text-shadow: -1px 1px 0 #000,
				 2px 2px 0 #000,
				1px -1px 0 #000;
			 -2px -2px 0 #000;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;

}
body{
	background-color:#FFFFFF;
}

#RMPSearch{
	background-size: 300px 300px;
}

#BRS {
	background-image: url("photo2.jpg") ;
  background-size: 300px 300px ;
	background-repeat: no-repeat;
	background-size: cover;
}
#BRS a{text-decoration: none;}


div{
	background-image:
}

#NRC {
	background-image: url("photo1.jpg") ;
 background-size: 300px 300px ;
	background-repeat: no-repeat;
	background-size: cover;
}
#NRC a{text-decoration: none;}
#RCRIS {
	background-image: url("photo3.jpg") ;
  background-size: 300px 300px ;
	background-repeat: no-repeat;
	background-size: cover;
}
#RCRIS a{text-decoration: none;}
#RMP {
	background-image: url("photo4.jpg") ;
  background-size: 300px 300px ;
	background-repeat: no-repeat;
	background-size: cover;
}
#RMP a{text-decoration: none;}
#TRI{
	background-image: url("photo5.jpg") ;
  background-size: 300px 300px ;
	background-repeat: no-repeat;
	background-size: cover;
}
#TRI a{text-decoration: none;}
#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	text-shadow: -.5px .5px 0 #000,
				  1px 1px 0 #000,
				 .5px -.5px 0 #000;
				-1px -1px 0 #000;
}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #E8AD0C;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Muli', Helvetica, sans-serif;
}

#nav a:hover, a:active {
    background-color: #b88909;
}

#footer {
	color: black;
	font-family: 'Muli', Helvetica, sans-serif;
	font-size: 0.8em;
	border-top: 1px solid black;
	background-color: #FFFFFF
}

image{
	border:none;
}

h4{
	font-size: 0.8em;
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	color: #ffffff;
}

.email{
	color: #FFFFFF;
	text-decoration: none;
	weight: bold;
	text-align: center;
}

.email a:link, a:visited{
	display:block;
    color: white;
    background-color: #E8AD0C;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Muli', Helvetica, sans-serif;
}

.email a:hover, a:active{
	  background-color: #FFD200;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

#About h3{
color:white;
  width:100px ;
  height:30px ;
  background-color:#E8AD0C;
  margin: 0 auto;
}

.brstext p{
  color:black;
  font-family: 'Muli', Helvetica, sans-serif;
  font-size: 0.8em;
	text-align: left;
}

#brsdatabase {
	color: #ffffff;
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	font-style: italic;
}

#brscontainer {
	background-image: url("photo2.jpg") ;
  background-size: 300px 300px ;
  background-repeat: no-repeat;
  background-size: cover;
}

#brscontainer h2{
	margin: 0;
}

#brsdatabase a{
	color:white;
}

ul {
	display: flex;
	flex-direction: column;
}

li{
	flex: 1 1 auto;
}

.searchtype{
	color: black;
}

@media (min-width: 600px) {
	.flex-container {
		flex-direction: row;
		justify-content: space-between;
	}
  ul {
		flex-direction: row;
	justify-content: space-between;
}
	}
@media (min-width: 800px) {

div{
	margin-right: auto;
}
	.item-1 {
		margin-right: auto;
	}
	.item-2 {
		margin-right: auto;
	}
	.item-3 {
		margin-right: auto;
	}
	.item-4 {
		margin-right: auto;
	}
	.item-5 {
		margin-right: auto;
	}

.chatter{
	color: black;
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
}

.table{
	color:#E8AD0C;
}

.info{
	color: black;
	text-align: left;
	text-decoration: none;
}

#contacttext p{
  color:#000000;
	text-align:left;
}

table{
	display: grid;
	padding-top: 20px;
	width: 100%;
}

.thead {
	background-color: #E8AD0C;
	text-align: center;
}

th,td {
	border: 1px solid black;
	width: 10%;
}
