p {
	color: #ffffff;
	font-family: Arial, Helvetica,sans-serif;
	color: #ffffff;
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	font-style: italic;
}

h2 {
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	color: #ffffff;
  margin: 3px, auto;


}

.container{
	background-color: #4C4B41;

	text-align: center;
	color: #ffffff;
}


h3 {
	font-family: 'Muli', Helvetica, sans-serif;
	text-align: center;
	color: #ffffff;
}


h1{
	font-family: 'Muli', Helvetica, sans-serif;
	background-color: #4C4B41;
 font-size:1.5rem ;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;

}
body{
	background-color:#FFFFFF;
}


#BRS {
	background-image: url("photo2.jpg") ;
  background-size: 300px 300px ;
  background-repeat: no-repeat;
  background-size: cover;
}

.search{
  font-size:
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}




#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #E8AD0C;
    font-weight: lighter;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Muli', Helvetica, sans-serif;
}

#nav a:hover, a:active {
    background-color: #FFD200;
}

#footer {
	color: black;
	font-family: 'Muli', Helvetica, sans-serif;
	font-size: 0.8em;
	border-top: 1px solid black;
	background-color: #FFFFFF
}

#About {
color:black;
  width:100px ;
  height:30px ;
  background-color:#E8AD0C;
  margin: 0 auto;
}

h3{text-decoration: none;}

image{
	border:none;
}
.text{
  color:black;
  font-family: 'Muli', Helvetica, sans-serif;

}
